.camera{
    position:relative;
    top:60px;
    height:200px;
    width:300px;
    border-radius:20px;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(240, 168, 96);
    animation-name:camera;
    animation-duration:1s;
    animation-iteration-count:1;
}
.name{
    position:relative;
    font-size:2.5em;
    color:white;
    font-family:Arial;
    top:50px;
    animation-name:name;
    animation-duration:1s;
    animation-iteration-count:1;
    z-index:10;
}
.objective{
    height:150px;
    width:150px;
    background-color:rgb(255, 216, 178);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}
b{
    font-family:Arial;
    color:white;
    font-size:2em;
}
.light{
    position:absolute;
    left:260px;
    top:5px;
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:white;
}
.scope{
    height:130px;
    width:130px;
    background-color:rgb(247, 190, 133);
    border-radius:50%;
    animation-name:scope;
    animation-duration:1s;
    animation-iteration-count:1;
    background-image:url(dadabe.jpg);
}
.one{
    height:500px;
    position:absolute;
    top:200px;
    right:85%;
    width:70px;
    border-radius:50px 50px 0 0;
    background-color:rgb(244, 194, 145);
    animation-name:one;
    animation-duration:1s;
    animation-iteration-count:1;
}
.two{
    height:500px;
    position:absolute;
    right:58%;
    width:70px;
    border-radius:50px 50px 0 0;
    background-color:rgb(244, 194, 145);
    top:400px;
    z-index:1;
    animation-name:two;
    animation-duration:1s;
    animation-iteration-count:1;
}
.three{
    height:500px;
    position:absolute;
    right:30%;
    width:70px;
    border-radius:50px 50px 0 0;
    background-color:rgb(244, 194, 145);
    animation-name:three;
    animation-duration:1s;
    animation-iteration-count:1;
    top:350px;
    z-index:1;
}
.four{
    height:500px;
    position:absolute;
    right:5%;
    width:70px;
    border-radius:50px 50px 0 0;
    background-color:rgb(244, 194, 145);
    top:300px;
    animation-name:four;
    animation-duration:1s;
    animation-iteration-count:1;
}
body{
    margin:0;
    background:rgb(255, 216, 178);
    animation-name:cliche;
    animation-duration:1s;
    animation-iteration-count:1;
    overflow:hidden;
}
button{
    background-color:rgb(244, 194, 145);
    border-style:none;
    height:100%;
    width:130px;
    transition:0.5s;
    margin:0;
}
.description{
    position:relative;
    z-index:10;
    color:white;
    top:80px;
    animation-name:name;
    animation-duration:1s;
    animation-iteration-count:1;
}
button:hover{
    background-color:rgb(255, 160, 64);
}
header{
    height: 70px;
    width:100%;
    background-color:rgb(244, 194, 145);
    position:relative;
}
@keyframes camera {
    from{opacity:0;top:200px;}
    to{opacity:1;top:60px;}
}
@keyframes scope {
    0%{height:100px;width:100px;background-image:none;}
    50%{height:100px;width:100px;background-image: none;}
    70%{height:100px;width:100px;background-image:none;}
    100%{background-image:url(dadabe.jpg);}
}
@keyframes cliche {
    0%{opacity:1;}
    80%{opacity:1;}
    95%{opacity:0;}
    100%{opacity:1;}
}
@keyframes name {
    0%{opacity:0;}
    80%{opacity:0;}
    95%{opacity:0;}
    100%{opacity:1;}
}
@keyframes one {
    from{top:700px;}
    to{top:200px;}
}
@keyframes two {
    from{top:700px;}
    to{top:400px;}
}
@keyframes three {
    from{top:700px;}
    to{}
}
@keyframes four {
    from{top:700px;}
    to{top:300px;}
}
@media only screen and (max-width: 600px){
    .camera{
        height:170px;
        width:270px;
    }
    .objective{
        height:130px;
        width:130px;;
    }
    .scope{
        height:110px;
        width:110px;
    }
    .light{
        height:30px;
        width:30px;
        left:230px;
    }
    header{
        height:50px;
    }
    .name{
        font-size:2.2em;
    }
}
.social-icons {
    position:relative;
    top:-50px;
    left:270px;
}
.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    color:rgb(255, 160, 64);
    transition:0.5s;
}
.social-icons a:hover {
    color:rgb(236, 134, 32);
}